.installment {
  display: flex;
  width: 155px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.id {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}
